body{
  background: #25A9FC;
}

.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 1200px !importante;
  height: 840px;
  background: none;

}

.head {
  border-radius: 50%;
  background-color: #A6BECF;
  position: absolute;
  top: 16.5;
  left: 25%;
  height: 90%;
  width: 70%;
}

.ear-left {
  border-radius: 50%;
	background-color: #A6BECF;
	position: absolute;
	top: 5%;
	left: 58%;
	height: 50%;
	width: 50%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.ear-left-shadow {
  border-radius: 50%;
  background-color:#819CAF;
  position: absolute;
  top: 15;
  left: 5%;
  height: 90%;
  width: 90%;
  z-index: -1
}

.ear-rigth { 
  border-radius: 50%;
	background-color: #A6BECF;
	position: absolute;
	top: 5%;
	right: 58%;
	height: 50%;
	width: 50%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.ear-rigth-shadow {
  border-radius: 50%;
  background-color:#819CAF;
  position: absolute;
  top: 15;
  left: 5%;
  height: 90%;
  width: 90%;
  z-index: -1
}

.eyer-left {
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 50;
  left: 49%;
}


.eyer-right {
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 50;
  right: 49%;
}

.eyer-left-center {
  border-radius: 50%;
  background-color: black;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50;
  left: 30;
}


.eyer-right-center {
  border-radius: 50%;
  background-color: black;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50;
  right: 30;
}

.nose {
  background-color: #800000;
  border-radius: 50px;
  width: 30%;
  height: 50%;
  top: 35%;
  left: 35%;
  position: relative;
}

.plus1 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 80px solid #A6BECF;
	left: 50%;
	position: absolute;
	top: -5%;
}


.plus2 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 80px solid #A6BECF;
	right: 50%;
	position: absolute;
	top: -10%;
}
